 # .env de ejemplo. Reemplazá con los valores a utilizar durante tu desarrollo (y renombrar por .env).

# Puerto del servidor
PORT=3000

# Bdd props
DB_HOST=localhost
DB_PORT=5432
DB_USER=usuario_ejemplo
DB_PASSWORD=contraseña_ejemplo 
DB_NAME=nombre_db

# JWT
JWT_SECRET=clave_secreta_ejemplo
JWT_EXPIRES_IN=3600s

# Google props
GOOGLE_CLIENT_ID=tu-client-id
GOOGLE_CLIENT_SECRET=tu-client-secret
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/redirect